<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon App</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <img class="logo" src="img/International_Pokémon_logo.svg" alt="International Pokémon logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/index">Home</a></li>
                <li><a href="/pokedex">Pokédex</a></li>
                <li><a href="/credit">Credit</a></li>
            </ul>
        </nav>
    </header>
    <main>