<div class="box">
    <h1>Credit</h1>
     <p>This Pokédex would not exist without the PokéAPI Team’s wonderful dedication to Pokémon Universe ! Please see Bulbapedia or Poképédia for greater detail.
     <br><br>
     No copyright or trademark infringement is intended in using Pokémon content on this web site, it hasn’t been created for making any profit but simply for fun and educational purpose. 
    <br><br>
    Our Pokédex has been created by Blandine and Constance CAVIGNAUX during a Project of Programmation in 2022.
    <br><br>
    All Pokémon rights rightfully belong to Nintendo Creatures Inc & GAME FREAK Inc.
    <br><br>
    ©️ 2002-2022 Pokémon. ©️ 1995-2022 Nintendo/Creatures Inc./GAME FREAK inc. TM, ®️ and Pokémon character names are trademarks of Nintendo.</p>
 </div>