         <div class="box">
            <h1><span>Find</span> all your favorite <span>Pokémon !</span></h1>
            <p>Pokémon are the creatures that inhabit the world of the Pokémon games. They can be caught using Pokéballs and trained by battling with other Pokémon. Each Pokémon belongs to a specific species but may take on a variant which makes it differ from other Pokémon of the same species, such as base stats, available abilities and typings. 
            <br><br>
            / ! \ Sword and Shield data might be inaccurate and lacking in various aspects due to the fact that it is not taken directly from Nintendo's Pokemon ROMs and is currently being created/added by the PokéAPI Team.</p>
            <a class="button" href="/pokedex">Start</a>
        </div>