        <div>
            <div class="search">
                <img src="img/icon-pokedex.png" alt="Pokédex's icon">
                <form method="get" action="/result">
                    <input type="text"  id="searchBar" name="searchBar" placeholder="Search your Pokémon by name or ID...">
                    <input type="submit" id="search_btn" class="search_btn" value="Search">
                </form>
            </div>
        </div>